.h-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.h-mleft--05 {
  margin-left: 0.5rem;
}

@for $i from 1 through 5 {
  .h-mleft--#{$i} {
    margin-left: 0rem + $i;
  }
}

.h-mright--05 {
  margin-left: 0.5rem;
}

@for $i from 1 through 5 {
  .h-mright--#{$i} {
    margin-right: 0rem + $i;
  }
}
