.main_navigation {
    background-color: #0C0C0C;
    position: absolute;
    z-index: 5;
    top: 0;
    right: -3vh;
    transform: scale(.72);
    width: 46.5vw;
    height: 99.5vh;
    opacity: 0;
    transition: all 1s ease-in-out;
    display: flex;
    flex-direction: column;

    .navigation_item {
        width: 100%;
        height: 33.333%;
        background-color: burlywood;
        border: 1px solid red;
        cursor: pointer;
    }
}

.is-open.main_navigation {
    opacity: 1;
}

.navigation_list {
    height: 100%;
    margin: 0;
}


.is-open.navigation_button-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}