.c-slider {
    width: 97%;
    margin: 0 auto;
    height: 54.65vw;
    max-height: 654.75px;
    .c-slider_image {
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        box-shadow: -1px 3px 15px 0px rgba($darkGray, .6);
        .c-image_list {
            position: relative;
            .c-image_item {
                img {
                    display: none;
                    width: 100%;
                    max-width: 1200px;
                    position: absolute;
                    border: 1.5px solid black;
                }
                .c-imagediv {
                    width: 100%;
                    max-width: 1200px;
                    position: absolute;
                    border: 1.5px solid black;
                    height: 54.65vw;
                    max-height: 654.75px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    &:last-of-type {
                        width: 50%; // position: relative;
                        border-right: 5px solid black;
                    }
                }
            }
        }
    }
}

.c-sliderinfo {
    box-shadow: -1px 3px 15px 0px rgba($darkGray, .6);
    color: $medGray;
    margin: 1em auto;
    width: 97%;
    padding: .7em;
    background-color: rgba($white, .4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .c-sliderinfo_progressbar {
        position: absolute;
        top: 0;
        left: 0;
        height: 2px;
        width: 0%;
        background-color: $attackYellow;
        transition: all ease-in-out .3s;
    }
    .c-sliderinfo_navigation {
        display: flex;
        align-items: center;
        background: $lightGray;
        @extend .t1;
        transition: all .3s ease-in-out;
        .c-sliderinfo_number {
            width: 4rem;
            display: flex;
            justify-content: center;
        }
    }
    .c-sliderinfo_likes {
        background: $lightGray;
        display: flex;
        @extend .t1;
        align-items: center;
        justify-content: space-between;
        .c-likes_text {
            width: 5rem;
            text-align: center;
        }
    }
}

.c-slider_navigation-overlay {
    position: absolute;
    z-index: 110;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    &:hover {
        .c-navigation_list,
        .js-button-resize {
            opacity: 1;
            pointer-events: all;
        }
    }
    .c-slider_progressbar {
        position: absolute;
        top: 0;
        left: 1.5px;
        height: 0px;
        width: 100%;
        background-color: $attackYellow;
        opacity: 0;
        transition: all .3s ease-in-out;
    }
    .c-navigation_list {
        display: flex;
        position: absolute;
        bottom: 3px;
        margin: 0;
        height: initial;
        opacity: 0;
        pointer-events: none;
        transition: .2s opacity cubic-bezier(0.19, 1, 0.22, 1);
        .c-navigation_item {
            padding: .3rem;
            background-color: rgba($darkGray, .7);
            cursor: pointer;
            span {
                font-size: 32px;
            }
            &:hover {
                background-color: $medGray;
            }
        }
    }
}

.is-open.c-slider_progressbar {
    animation: progressBarAnim 5s infinite;
    height: 2px;
    opacity: 1;
}

@keyframes progressBarAnim {
    0% {
        width: 0%;
    }
    100% {
        width: 99.8%;
    }
}

.is-open.c-slider_navigation-overlay {
    display: flex !important;
}

.js-button-resize {
    position: absolute;
    right: 3px;
    bottom: 3px;
    padding: .3rem;
    background-color: rgba($darkGray, .7);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: .2s opacity cubic-bezier(0.19, 1, 0.22, 1);
    font-size: 32px !important;
    &:hover {
        background-color: $medGray;
    }
}

.c-slider_navigation-thumbnails {
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $medGray;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    .c-navigation_list {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        height: 95%; //background-color: goldenrod;
        .c-navigation_item {
            flex: 1 1 11.11%;
            overflow: hidden;
            border: 1px solid $attackYellow;
            position: relative;
            .c-navigation_button {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all .3s ease-in-out;
                &:hover {
                    background-color: rgba( $attackYellow, .6);
                    cursor: pointer;
                }
            }
            img {
                width: 100%;
                filter: grayscale(1);
                transform: scale(4.5);
                margin-top: 30%;
            }
        }
    }
}

.is-open.c-slider_navigation-thumbnails {
    opacity: 1;
    pointer-events: all;
}

.is-active.c-navigation_button {
    background-color: rgba( $attackYellow, .7);
}

.active {
    img,
    div {
        display: block !important;
        z-index: 100;
        animation: fadeAnim .5s 0s;
    }
}

.back {
    img,
    div {
        display: block !important;
        z-index: 90;
    }
}

@keyframes fadeAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.c-button-drag {
    width: 20px;
    height: 50px;
    position: absolute;
    right: -12.5px;
    top: 50%;
    margin-top: -26px; //border-radius: 10px;
    background: $white;
    border: 1px solid black;
    cursor: pointer;
    display: block;
}

.js-slider-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(black, .6);
    transition: all .3s ease-in-out;
}

.is-open.js-slider-dark {
    z-index: 11;
    opacity: 1;
}