.ba_advert {
    height: 250px;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    @media only screen and (max-width: 1000px) {
        height: 225px;
    }
    @media only screen and (max-width: 750px) {
        height: 200px;
    }
    @media only screen and (max-width: 630px) {
        height: 180px;
    }
    @media only screen and (max-width: 530px) {
        height: 150px;
    }
    @media only screen and (max-width: 430px) {
        height: 140px;
    }
    &__background {
        background-image: url("/assets/img/ba3.png");
        height: 100%;
        position: absolute;
        width: 515px;
        background-repeat: no-repeat;
        background-size: contain;
        top: 0;
        right: 0;
        @media only screen and (max-width: 1000px) {
            width: 463px;
        }
        @media only screen and (max-width: 750px) {
            width: 411px;
        }
        @media only screen and (max-width: 630px) {
            width: 370px;
        }
        @media only screen and (max-width: 530px) {
            width: 310px;
        }
        @media only screen and (max-width: 430px) {
            width: 291px;
            right: -46px;
        }
    }
    &__heading {
        margin-left: 2rem;
        max-width: 42rem;
        margin-top: 2rem;
        text-shadow: 2px 2px #111;
        z-index: 50;
        position: relative;
        @media only screen and (max-width: 750px) {
            font-size: 1.3em;
            max-width: 32rem;
        }
        @media only screen and (max-width: 630px) {
            margin-top: 1rem;
            margin-left: 1rem;
        }
        @media only screen and (max-width: 530px) {
            font-size: 1em;
            max-width: 21rem;
            margin-left: 1rem;
            margin: 0.5rem;
        }
        @media only screen and (max-width: 430px) {
            font-size: 1em;
            max-width: 21rem;
            margin-left: inherit;
            margin: 0.5rem;
        }
    }
    .button--big {
        margin-left: 2rem;
        @media only screen and (max-width: 630px) {
            margin-left: 1rem;
        }
        @media only screen and (max-width: 530px) {
            margin-left: 1rem;
            font-size: 1.1rem;
            margin-top: 1rem;
            padding: 7px 7px;
        }
        @media only screen and (max-width: 430px) {
            margin-left: 0.5rem;
            font-size: 1.1rem;
            margin-top: 1rem;
            padding: 7px 7px;
        }
    }
}