.ba_advert {
    height: 250px;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    &__background {
        background-image: url("https://www.imageupload.co.uk/images/2018/09/29/ba3.png");
        height: 100%;
        position: absolute;
        width: 515px;
        background-repeat: no-repeat;
        background-size: contain;
        top: 0;
        right: 0;
    }
    &__heading {
        margin-left: 2rem;
        max-width: 42rem;
        margin-top: 2rem;
    }
}