@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
.t0 {
    font-family: 'Quicksand', sans-serif;
    color: $white; //font-size: 62.5%;
}

.t1 {
    @extend .t0;
    font-size: 18px;
    font-weight: 400;
}

.t2 {
    @extend .t0;
    font-size: 23px;
    font-weight: 500;
}

.i1 {
    font-size: 28px !important;
}