@import url("https://fonts.googleapis.com/css?family=Faster+One|Paytone+One|Quicksand:300,400,500,700");
body {
  font-family: "Quicksand", sans-serif;
}

.icon {
  color: white;
  font-size: 36px;
}
