.page_background {
    &__item {
        >div {
            position: fixed;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #333;
            transform: translateZ(0);
        }
        &:first-of-type div {
            background-color: #666;
        }
        &:last-of-type div {
            background-color: #999;
        }
        &.active div {
            display: inline-block;
            z-index: 4;
            animation: fadeAnim 1000ms;
        }
        &.back div {
            display: inline-block;
            z-index: 3;
        }
    }
}