.page_menu {
    /* background-color: #727272;
    background: radial-gradient(rgb(114, 114, 114), rgb(56, 56, 56)); */
    background-color: #90a4ae;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    font-family: "Faster One", cursive;
    color: #fff;
    font-size: 19rem;
}