.page_menu {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    transform: translateX(62vw) translateY(13vh) rotateY(-30deg);
    @media only screen and (max-width: 1450px) {
        transform: translateX(64vw) translateY(13vh) rotateY(-30deg);
    }
    @media only screen and (max-width: 900px) {
        transform: translateX(60vw) translateY(13vh) rotateY(-30deg);
    }
    @media only screen and (max-width: 750px) {
        transform: translateX(59vw) translateY(13vh) rotateY(-30deg);
    }
    @media only screen and (max-width: 630px) {
        transform: translateX(55vw) translateY(13vh) rotateY(-30deg);
    }
    @media only screen and (max-width: 575px) {
        transform: translateX(calc(50vw - 127px)) translateY(13vh) rotateY(0deg);
    }
    &__list {
        display: flex;
        flex-direction: column;
        height: 77vh;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        min-height: 35rem;
        justify-content: space-between;
        overflow: hidden;
        @media only screen and (max-width: 480px) {
            min-height: 42rem;
        }
    }
    .list__item {
        flex-basis: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px calc(20vh * 0.2);
        @media only screen and (max-width: 1000px) {
            padding: 0px calc(10vh * 0.2);
        }
        &.active {
            background-color: rgba(255, 255, 255, 0.5);
            transition: all 0.3s ease-in-out;
            @media only screen and (min-width: 575px) {
                display:none;
            }
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
            transition: all 0.3s ease-in-out;
        }
        a {
            transform: scale(1.3);
            @media only screen and (max-width: 1200px) {
                transform: scale(1.2);
            }
            @media only screen and (max-width: 1000px) {
                transform: scale(1);
            }
        }
        span {
            font-family: "Faster One", cursive;
            font-size: 11rem;
            transform: translateZ(0deg);
            -webkit-text-fill-color: transparent;
            padding: 0px 1rem 0px 3.2rem;
        }
        &:first-of-type span {
            background-position: right 17% bottom 10% !important;
            background-size: 337% !important;
            background-clip: text !important;
            -webkit-background-clip: text !important;
        }
        &:nth-of-type(2) span {
            background-position: right 22% bottom -1% !important;
            background-size: 365% !important;
            background-clip: text !important;
            -webkit-background-clip: text !important;
        }
        &:nth-of-type(3) span {
            background-position: right 64% bottom 6% !important;
            background-size: 373% !important;
            background-clip: text !important;
            -webkit-background-clip: text !important;
        }
        &:last-of-type span {
            background-position: right 99% bottom 86% !important;
            background-size: 266% !important;
            background-clip: text !important;
            -webkit-background-clip: text !important;
        }
    }
}