.l-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.l-main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.l-main_page {
    background-color: $darkGray;
    width: 100vw;
    height: 100vh;
    transition: all .3s ease-in-out;
    position: absolute;
    top: 0;
    z-index: 9;
}

.is-open.l-main_page {
    transform: perspective(360vw) translateX(-15vw) scale(.8) rotateY(50deg);
    border: 3px solid $white;
}