.l-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.l-main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.main_page {
    background-color: $darkGray;
    width: 99.5vw;
    height: 99.5vh;
    transition: all .3s ease-in-out;
    position: relative;
    z-index: 9;
}

.is-open.main_page {
    transform: perspective(360vw) translateX(-15vw) scale(.8) rotateY(50deg);
    border: 3px solid red;
}