.page_preloader {
  background-color: $medGray;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .page_preloader__counter {
    background-color: $lightGray;
    color: $medGray;
    font-size: 10rem;
    font-family: "Paytone One", sans-serif;
    border-radius: 50%;
    padding: 1rem;
    height: 250px;
    width: 250px;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
