.page_header {
  display: flex;
  justify-content: space-between;
  .page_header__logo {
    margin: 0;
    img {
      height: 1.7rem;
    }
  }
  .page_header__navigation {
    display: flex;
    width: 22rem;
    font-size: 20px;
    &--ba {
      display: flex;
      align-items: center;
      a {
        display: flex;
        align-items: center;
      }
    }
    .navigation__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      @media only screen and (max-width: 600px) {
        justify-content: flex-end;
      }
      .navigation__item {
        &:first-of-type {
          @media only screen and (max-width: 633px) {
            display: none;
          }
        }
        a {
          display: flex;
          align-items: center;
          cursor: pointer;
        }
        &:last-of-type {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
