.page_header {
    //   border: 1px solid red;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.page_header__background {
    background-image: url("https://www.imageupload.co.uk/images/2018/09/28/WECS15a3.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 75%;
    max-width: 620px;
    background-position: 0px -195px;
    float: right;
    margin-right: -5%; // &:before {
    // }
}

.page_header__logo {
    padding: 1rem;
    img {
        width: 14rem;
    }
}